 
.heading{
    margin-top: 90px;
    font-size: 30px;
    text-align: start;
    padding-left: 30px;
    font-weight: bolder;
}
.proMainDiv{
    width: 90%;
    margin: auto;
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}
.main_container{
    display: flex;
}
.main_container>:first-child{
    width:350px;
    background-color: white;
    margin-top: 3rem;
    margin-left: 2rem;
    height: 400px;
    position: sticky;
}
.prodiv{
    width: 250px;
    margin: auto;
    height: 350px;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-top: 30px;
}
.proName{
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 20px;
}

.prodiv img{
    width: 100%;
    height: 70%;
    margin: auto;
}
 .proPrice {
    
    font-size: 18px;
}
.proPrice span   {
    font-weight: bold;
    font-size: 20px;
    color: rgb(248, 57, 57);
}
.addtocart{
    border: 1px solid teal;
    // background-color: rgb(67, 67, 67);
    padding: 5px 15px;
    // color:  rgb(255, 251, 251);
    border-radius: 5px;
    margin: auto;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 5px;
}
.addtocart:hover{
    border: none;
// color:white;
background: rgb(103,101,102);
background: radial-gradient(circle, rgba(103,101,102,1) 0%, rgba(123,147,175,1) 75%);
}
.divPriceRating{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin:  auto;
}
.divStar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: 1px solid red;
    gap: 5px;
    margin-top: 3px;
    text-align: center;
    align-content: center;
}
 
.divStar p{
    margin-top: 2px;
    color: green;
}
.divStar span{
    color:rgb(9, 10, 9) ;
}