.container {
    /* width: 100vw; */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.cord {
    position: relative;
    margin: 20px 0;
    width: 200px;
    height: 250px;
    background-color: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    border-top-right-radius: 25px;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
    border: 1px dotted gray;
}

.firstName {
    color: black;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.cord:hover {
    z-index: 1;
    transform: perspective(2000px) rotate(-5deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.cord .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 6px 0px 0px 0px, rgba(14, 30, 37, 0.32) 0px 0px 0px px;
    transform-origin: left;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    z-index: 1;
    transition: 1s;
    border-top-right-radius: 25px;
}

.cord .imgBox img {
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 0;
    border-top-right-radius: 25px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.cord:hover .imgBox {
    transform: rotateY(-135deg);
}

.details {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 60px 10px 10px 10px;
    width: 100%;
    border-top-right-radius: 25px;
    height: 90%;
    margin: auto;
    object-fit: cover;
    justify-content: space-around;
    align-items: center;
}

.details h3 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
}

.details h5 {
    color: rgb(242, 47, 8);
    font-size: 17px;
    font-weight: bolder;
    margin: auto;
}

.heart {
    font-size: 25px;
    color: red;
    cursor: pointer;
    margin-top: 1px;
    margin-left: 30px;
    /* border: 1px solid red; */
}

.heart:hover {
    color: rgb(209, 4, 4);
}

.viweBtn {
    /* color: white; */
    padding: 5px;
    color: black;
    background: rgb(103, 101, 102);
    background: radial-gradient(circle, rgba(103, 101, 102, 1) 0%, rgba(155, 173, 196, 1) 0%, rgba(138, 161, 189, 1) 33%, rgba(143, 170, 203, 1) 45%, rgba(148, 181, 219, 1) 68%, rgba(123, 147, 175, 1) 86%, rgba(123, 147, 175, 1) 89%);
    margin-top: 100px;
    border-radius: 5px;
    width: 100px;
    margin: auto;
    font-weight: bolder;
    letter-spacing: 1px;
}

.viweBtn:hover {
    /* color: white; */
    background: rgb(103, 101, 102);
    background: radial-gradient(circle, rgba(103, 101, 102, 1) 0%, rgba(123, 147, 175, 1) 75%);
}

.nameHeart {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .cord {
        width: 310px;
        height: 350px;
    }
    .details h3 {
        font-size: 30px;
    }
    .details h5 {
        font-size: 20px;
    }
}