* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.box {
  position: relative;
  margin: 10% auto 0;
  width: 50%;
  height: 450px;

  background: linear-gradient(0deg, black, black, rgb(44, 73, 73));
}

.form {
  position: absolute;
  z-index: 10;
  margin: auto;
 
  border-radius: 8px;
  inset: 2px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form h2 {
  color: #45f3ff;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.1em;
}
.inputBox {
  position: relative;
  width: 60%;
  margin-top: 35px;
}
.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #45f3ff;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}
.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #00eeff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 30px;
}

.submit {
  border: none;
  outline: none;
  background-color: #45f3ff;
  padding: 11px 25px;
  margin-top: 20px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  width: 100px;
  margin-left: -250px;
}
.submit:active {
  opacity: 0.5;
}

.signDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  width: 60%;
  align-items: center;
 
}
.signDiv p {
  font-size: 13px;
  letter-spacing: 0.1em;
  color: white;
}
.sign {
  color: #45f3ff;
  font-size: 15px;
  
  font-weight: lighter;
}

.sign:hover {
  cursor: pointer;
  color: red;
}

.signDiv1 {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-top: 10px;
}
.signDiv1 p {
  font-size: 13px;
  letter-spacing: 0.1em;
  color: white;
}
.sign1 {
  color: #45f3ff;
  font-size: 15px;
 
  font-weight: lighter;
}

.sign1:hover {
  cursor: pointer;
  color: red;
}

.inputBox1 {
  position: relative;
  width: 300px;
  margin-top: 20px;
}
.inputBox1 input {
  position: relative;
  width: 100%;
  padding: 5px 20px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}
.inputBox1 span {
  position: absolute;
  left: 0;
  padding: 5px 0px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.inputBox1 input:valid ~ span,
.inputBox1 input:focus ~ span {
  color: #45f3ff;
  transform: translateX(0px) translateY(-20px);
  font-size: 0.75em;
}
.inputBox1 i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #00eeff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.inputBox1 input:valid ~ i,
.inputBox1 input:focus ~ i {
  height: 30px;
}
