@import "../../Global.scss";
@include mobile {
    flex-direction: column;
    align-items: center;
}

.MainDivLog {
    /* border: 1px solid rgb(249, 249, 249); */
    height: 620px;
    padding: 70px 0px 0px 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.boxLog {
    /* border: 1px solid red; */
    width: 35%;
    border-radius: 10px;
    height: 70vh;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: linear-gradient(0deg, black, black, rgb(44, 73, 73));
    @include mobile {
        width: 85%;
        margin: auto;
    }
}

.formLog {
    /* border: 1px solid green; */
    margin: auto;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.LogHomeDiv h2 {
    color: #45f3ff;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    /* border: 1px solid red; */
    margin-left: 80px;
    margin-bottom: 30px;
}

.LogHomeDiv {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.home {
    color: #cbd0d1;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: 28px;
    margin-right: -90px;
    margin-top: 10px;
    @include mobile {
        margin-right: 0px;
        // border: 1px solid red;
    }
}

.home:hover {
    color: #45f3ff;
}

.inputBoxLog {
    /* border: 1px solid green; */
    width: 120%;
    height: 60px;
    margin: auto;
    margin-left: -50px;
    @include mobile {
        width: 80%;
        margin-left: 0px;
    }
}

.inputBoxLog input {
    background-color: transparent;
    width: 120%;
    color: white;
    border-radius: 5px;
    border-bottom: 2px solid rgb(242, 241, 241);
    @include mobile {}
}

.inputBoxLog span {
    /* background-color: red; */
    color: rgb(242, 240, 240);
    width: 100%;
}

.forgetPassLog {
    color: white;
    text-align: start;
    margin-top: 20px;
    margin-left: -50px;
    @include mobile {
        margin-top: 15px;
        margin-left: 0px;
    }
}

.submitLog {
    border: none;
    outline: none;
    /* border: 1px solid red; */
    padding: 7px 25px;
    background-color: rgb(206, 204, 201);
    margin-top: 20px;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    width: 100%;
    align-items: center;
    align-content: center;
    @include mobile {
        width: 80%;
        margin-left: 14px;
        margin-top: 13px;
    }
}

.submitLog:hover {
    opacity: 0.5;
}

.DivsubmitLog {
    /* border: 1px solid red; */
    align-items: start;
    text-align: start;
    margin-top: 20px;
    margin-left: -20px;
    width: 120%;
}

.signDivLog {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 120%;
    align-items: center;
    margin-left: -20px;
    margin-bottom: 20px;
    @include mobile {
        width: 110%;
        // margin-left: -10px;
        // border: 1px solid red;
    }
}

.signDivLog p {
    font-size: 13px;
    letter-spacing: 0.1em;
    color: white;
}

.signLog {
    color: #45f3ff;
    font-size: 15px;
    font-weight: lighter;
}

.signLog:hover {
    cursor: pointer;
    color: red;
}

.orDivLog {
    color: rgb(153, 151, 151);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.LogGoogle {
    color: "white";
    width: 120%;
    border-radius: "5px";
    background-color: "black";
    border: "1px solid gray";
    @include mobile {
        width: 95%;
        margin-left: 14px;
    }
}

 