@import "../../Global.scss";
.CartMainDiv{
    // border: 1px solid red;
    width: 100%;
    height: 150vh;
    padding: 100px;
    @include mobile{
        padding:5px;
      }
}
.firstDivWish{
// border: 1px solid red;
 border-radius: 10px;
width: 60%;
overflow-y: scroll;
height: 80vh;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin: auto;
@include mobile{
    width: 100%;
    align-items: center;
  }
}
.CartDetailsWish{
    // border: 1px solid red;
    background-color: white;
    text-align: start;
    font-size: 20px;
    // font-weight: bold;
    padding: 0px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    color: gray;
    // border: 1px solid rgb(75, 73, 73);
    @include mobile{
        font-size: 18px;
      }
}
.cartProDivWish{
    // border: 1px dotted rgb(139, 138, 138);
    border-bottom:1px dotted grey;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
   justify-content: flex-start;
   gap: 30px;
margin-bottom: 10px;
padding: 10px;
@include mobile{
    flex-direction: column;
    height: 200px;
  }
//    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.CartImgDeatilsWish{
    display: flex;
    width: 60%;
    // border: 1px solid red;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
    @include mobile{
        // flex-direction: column;
        width: 100%;
      }
}
.CartImgDivWish{
    height: 100%;
    width: 30%;
//    background-color: white;
//    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    // border: 2px solid rgb(15, 77, 148);
}
.CartImgDivWish img{
    height: 100px;
    margin: auto;
    @include mobile{
        height: 90px;
         margin: auto;
      }
}
.ProDivDetailWish{
    // border: 1px solid green;
    width: 70%;
    text-align: start;
    justify-content: start;
}
.ProdivnameWish{
    font-weight: bold;
    font-size: 15px;
    color: rgb(220,53,69)
}
.ProdivpriceWish{
   display: flex;
   flex-direction: row;
//    border: 1px solid red;
   gap: 8px;
}
.ProdivpriceWish h4{
    font-weight: bold;
    font-size: 15px;
}
.StockWish{
    color: green;
    font-size: 15px;
    font-weight: bold;
}
.OutStockWish{
    color:red;
    font-weight: bold;
}
.ProdivratingWish{
    color: gray ;
font-size: 14px;
}
.QRdivDiv{
width: 35%;
// border: 1px solid green;
margin: auto;
display: flex;
justify-content: space-around;
@include mobile{
    width:100%;
    //   border: 1px solid green;
      justify-content: space-evenly;
  }
}
.QdivWish{
    // border: 1px solid red;
    display: flex;
// width: 40%;
gap: 5px;
justify-content: space-around;
@include mobile{
     margin: auto;
  }
}
 .QdivWish Button{
    border: 1px solid gray;
     letter-spacing: -0.2px;
    border-radius: 4px;
     height: 30px;
     color: rgb(220,53,69);
//   background-color: rgb(220,53,69);
     font-size: 20px;
     @include mobile{
      }
 }
 .QdivWish Button:hover{
    background-color: rgb(222, 220, 220);
 }
 .delBTNWish:hover{
    background-color: rgb(245, 243, 243);
    color: red;
 }
  .delBTNWish{
    color: gray;
  }
  .Explor{
      color: rgb(108, 108, 226);
  }