@import "../../Global.scss";
.CartMainDiv{
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
}
.firstDivOrder{
// border: 1px solid red;
width: 95%;
margin: auto;
overflow-y: scroll;
height: 100vh;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-top-left-radius: 20px;
@include mobile{
    width: 100%;
    align-items: center;
  }
}
.CartDetailsOrder{
    // border: 1px solid red;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-align: start;
    font-size: 20px;
    // font-weight: bold;
    padding: 0px 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    color: gray;
    border: 1px solid rgb(75, 73, 73);
    @include mobile{
        font-size: 18px;
      }
}
.cartProDivOrder{
    // border: 1px dotted rgb(139, 138, 138);
    border-bottom:1px dotted grey;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
   justify-content: flex-start;
   gap: 30px;
margin-bottom: 10px;
padding: 10px;
@include mobile{
    flex-direction: column;
    height: 200px;
  }
//    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.CartImgDeatilsOrder{
    display: flex;
    width: 100%;
    // border: 1px solid red;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
    @include mobile{
        // flex-direction: column;
        width: 100%;
      }
}
.CartImgDivOrder{
    height: 100%;
    width: 30%;
//    background-color: white;
//    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    // border: 2px solid rgb(15, 77, 148);
}
.CartImgDivOrder img{
    height: 100px;
    margin: auto;
    @include mobile{
        height: 90px;
         margin: auto;
      }
}
.ProDivDetailOrder{
    // border: 1px solid green;
    width: 70%;
    text-align: start;
    justify-content: start;
}
.ProdivnameOrder{
    font-weight: bold;
    font-size: 20px;
    color: rgb(51, 50, 50);
}
.ProdivpriceOrder{
    font-size: 18;
    color: rgb(246, 58, 58);
    font-weight: bold;
}
 .deliveryDivOrder{
  // border: 1px solid red;
  width: 30%;
  display: flex;
  gap: 10px;
 }
 .deliveryDivOrder h5{
  font-size: 25px;
 }
 .deliveryDivOrder p{
  font-size: 15px;
  // font-weight: b;
 }